      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; by <a href="http://www.cubetech.ch" target="_blank">cubetech.ch</a></p>
      </footer>

    </div><!--/.fluid-container-->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="%stylepath%js/jquery.js"></script>
    <script src="%stylepath%js/bootstrap-transition.js"></script>
    <script src="%stylepath%js/bootstrap-alert.js"></script>
    <script src="%stylepath%js/bootstrap-modal.js"></script>
    <script src="%stylepath%js/bootstrap-dropdown.js"></script>
    <script src="%stylepath%js/bootstrap-scrollspy.js"></script>
    <script src="%stylepath%js/bootstrap-tab.js"></script>
    <script src="%stylepath%js/bootstrap-tooltip.js"></script>
    <script src="%stylepath%js/bootstrap-popover.js"></script>
    <script src="%stylepath%js/bootstrap-button.js"></script>
    <script src="%stylepath%js/bootstrap-collapse.js"></script>
    <script src="%stylepath%js/bootstrap-carousel.js"></script>
    <script src="%stylepath%js/bootstrap-typeahead.js"></script>

  </body>
</html>
