 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>svnhost.ch</title>
    <link rel="stylesheet" type="text/css" href="/_style/svnhost/css/style.css" />
    <meta name="keywords" content="design, webdesign, hosting, support, netzwerk, opensource, bind, dns, cms, printdesign, flyer, druck, officium, python, django, kmu" />
    <meta name="description" content="cubetech.ch - Ihr Team für Design, Hosting, Support und Opensource" />
    <meta name="author" content="cubetech.ch" />
    <meta name="publisher" content="cubetech.ch" />
    <meta name="copyright" content="cubetech.ch" />

    <meta name="company" content="cubetech.ch" />
    <meta name="reply-to" content="info@cubetech.ch" />
    <meta name="content-language" content="de" />
    <meta name="page-topic" content="Computer" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="index, follow" />
    
    
    
</head>

<body><div id="test"><div style="width: 65em; text-align: left;">
<a name="top"></a>

    <div id="header">
        <a href="/" class="site-root"></a>
        <ul>
            <li id="nav_left"></li>
            <li id="nav_webdesign"><a href="/page/opensource"></a></li>
            <li id="nav_printdesign"><a href="/page/design"></a></li>
            <li id="nav_hosting"><a href="/page/hosting"></a></li>
            <li id="nav_support"><a href="/page/support"></a></li>
            <li id="nav_kontakt"><a href="/page/kontakt"></a></li>

        </ul>
    </div>
    <div id="body">
        <div id="menubar">
            <div id="menubar_part">Opensource</div>
            <ul>
                <li><a href="/page/officium"><b>Officium</b></a></li>
                <li><a href="/page/screenshots">Die Screenshots</a></li>

                <li><a href="/page/lizenz">Die Lizenz</a></li>
                <li><a href="/page/download">Der Download</a></li>
                <li><a href="/page/installation">Die Installation</a></li>
            </ul>
        </div>
        <div id="sidebar">
            <div class="sidebar-box">

                
            </div>
        </div>
        <div id="content">
            
            

<h1>Opensource</h1>
<p><strong>Wieso Opensource?</strong></p>
<p>Wir sind der Meinung, dass freie Software fr&uuml;her oder sp&auml;ter den Markt beherrschen wird. Wir leisten unseren Teil dazu.</p>
<p>&nbsp;</p>

       </div>
    </div>

    
</div></div>
</body>
</html>
